@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 149 0% 95%;
    --foreground: 149 0% 10%;
    --card: 149 0% 90%;
    --card-foreground: 149 0% 15%;
    --popover: 149 0% 95%;
    --popover-foreground: 149 95% 10%;
    --primary: 149 77% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 149 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 111 10% 85%;
    --muted-foreground: 149 0% 35%;
    --accent: 111 10% 80%;
    --accent-foreground: 149 0% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 149 0% 90%;
    --border: 149 20% 50%;
    --input: 149 20% 30%;
    --ring: 149 77% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 149 10% 10%;
    --foreground: 149 0% 90%;
    --card: 149 0% 10%;
    --card-foreground: 149 0% 90%;
    --popover: 149 10% 5%;
    --popover-foreground: 149 0% 90%;
    --primary: 149 77% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 149 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 111 10% 25%;
    --muted-foreground: 149 0% 60%;
    --accent: 111 10% 25%;
    --accent-foreground: 149 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 149 0% 90%;
    --border: 149 20% 30%;
    --input: 149 20% 30%;
    --ring: 149 77% 36%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .title {
    @apply font-serif text-3xl font-bold underline decoration-border/75 decoration-2 underline-offset-8;
  }

  .prose pre {
    @apply overflow-x-auto rounded-lg bg-accent px-5 py-4 text-sm;
  }

  .prose code {
    @apply rounded-lg px-1 py-0.5;
  }

  .prose pre code {
    @apply p-0;
    line-height: 1.75;
  }

  .prose code span {
    @apply font-medium;
  }
}